<div class="container app-brandbar">
    <div class="row"> 
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <a class="brandbar-brand pull-left" id="brandbar-brand" href="/">
                <img class="img-responsive logo" src="{{ page.base_url }}assets/img/aac.png" />
            </a>
        </div>
        <div class="hidden-xs hidden-sm col-md-9 col-lg-9">
            <div class="brandbar-claim">
                <img class="img-responsive" src="{{ page.base_url }}assets/img/claim.png" />
            </div>
        </div>
    </div>
</div>